{"swagger":"2.0","info":{"title":"Web Payment API","description":"Pay with the Orange Money Web Payment API\n\nThe body of the request should contain only the data without additional characters or newline.\n\nThe character that separates floating point numbers must be a dot.\n","version":"1.0.0"},"host":"api.orange.com","schemes":["https"],"basePath":"/orange-money-webpay/dev/v1","consumes":["application/json"],"produces":["application/json"],"security":[{"app_auth":[]}],"securityDefinitions":{"app_auth":{"type":"oauth2","description":"The 2-legs authentication","flow":"application","tokenUrl":"https://api.orange.com/oauth/v2/token"}},"paths":{"/webpayment":{"post":{"tags":["transaction"],"summary":"Web Payment","operationId":"initTransaction","description":"Initiates a payment transaction\n","parameters":[{"name":"TransactionInitInfo","in":"body","required":true,"description":"Informations to initialize a transaction","schema":{"$ref":"#/definitions/TransactionInitInfo"}}],"responses":{"201":{"description":"Success, the transaction is initialized","schema":{"$ref":"#/definitions/TransactionCreatedInfo"},"examples":{"application/json":{"status":201,"message":"OK","pay_token":"9b871512327c09ce91dd649b3f96a63b7408ef267c8cc5710114e629730cb61f","payment_url":"http://orange-money.com/payment/pay_token/9b871512327c09ce91dd649b3f96a63b7408ef267c8cc5710114e629730cb61f","notif_token":"bcbe3365e6ac95ea2c0343a2395834dd"}}},"400":{"description":"Bad Request\n21 (Missing body),\n22 (Invalid body),\n23  (Missing body field),\n24 (Invalid body field),\n25 (Missing header),\n26 (Invalid header value)\n","schema":{"$ref":"#/definitions/error_def"}},"401":{"description":"Authentication failed\n40 (Missing credentials)\n41 (Invalid credentials)\n","schema":{"$ref":"#/definitions/error_def"}},"403":{"description":"forbidden access to the api\n50 (Access denied by ACL)\n1201 (forbidden transaction)\n1202 (invalid merchant key)\n1203 (Unauthorized currency for this country)\n1204 (order already exists)\n","schema":{"$ref":"#/definitions/error_def"}},"404":{"description":"60 (Resource not found)\n","schema":{"$ref":"#/definitions/error_def"}},"405":{"description":"61 (Method not allowed)\n","schema":{"$ref":"#/definitions/error_def"}},"406":{"description":"62 (Not acceptable)\n","schema":{"$ref":"#/definitions/error_def"}},"413":{"description":"66 (Request entity too large)\n","schema":{"$ref":"#/definitions/error_def"}},"415":{"description":"68 (Unsupported Media Type)\n","schema":{"$ref":"#/definitions/error_def"}},"500":{"description":"1 (Internal error)\n","schema":{"$ref":"#/definitions/error_def"}}}}},"/transactionstatus":{"post":{"tags":["transaction"],"summary":"Transaction status","operationId":"getTransactionStatus","description":"Get the status of a transaction\n","parameters":[{"name":"GetTransactionStatusInfo","in":"body","required":true,"schema":{"$ref":"#/definitions/GetTransactionStatusInfo"}}],"responses":{"201":{"description":"The transaction status is retrieved","schema":{"$ref":"#/definitions/TransactionStatusInfo"},"examples":{"application/json":{"status":"INITIATED","order_id":"ABC-37915","txnid":"CI141218.1723.C00152"}}},"400":{"description":"Bad Request\n21 (Missing body),\n22 (Invalid body),\n23  (Missing body field),\n24 (Invalid body field),\n25 (Missing header),\n26 (Invalid header value)\n","schema":{"$ref":"#/definitions/error_def"}},"401":{"description":"Authentication failed\n40 (Missing credentials)\n41 (Invalid credentials)\n","schema":{"$ref":"#/definitions/error_def"}},"403":{"description":"forbidden access to the api\n50 (Access denied by ACL)\n","schema":{"$ref":"#/definitions/error_def"}},"404":{"description":"60 (Resource not found)\n","schema":{"$ref":"#/definitions/error_def"}},"405":{"description":"61 (Method not allowed)\n","schema":{"$ref":"#/definitions/error_def"}},"406":{"description":"62 (Not acceptable)\n","schema":{"$ref":"#/definitions/error_def"}},"413":{"description":"66 (Request entity too large)\n","schema":{"$ref":"#/definitions/error_def"}},"415":{"description":"68 (Unsupported Media Type)\n","schema":{"$ref":"#/definitions/error_def"}},"500":{"description":"1 (Internal error)\n","schema":{"$ref":"#/definitions/error_def"}}}}}},"definitions":{"error_def":{"description":"The whole error table should lie here (in GFM) ? ...","type":"object","properties":{"code":{"type":"integer","minimum":1,"maximum":9999,"description":"An integer coding the error type. This is given to caller so he can translate them if required"},"message":{"type":"string","description":"A short localized string that describes the error."},"description":{"type":"string","description":"A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values"},"infoURL":{"type":"string","description":"A URL to online documentation that provides more information about the error"}},"required":["code","message"],"example":{"code":23,"message":"Missing body field","description":"The field 'productionDate' is missing from posted body"}},"TransactionInitInfo":{"type":"object","description":"request's object to initialize a transaction\n","required":["merchant_key","currency","order_id","amount","return_url","cancel_url","notif_url"],"properties":{"merchant_key":{"description":"The merchant key","type":"string","pattern":"[a-z0-9]{8}","example":"e8b7be44"},"currency":{"description":"Local currency (ISO 4217)","type":"string","pattern":"[A-Z]{3}","example":"XAF"},"order_id":{"description":"Order number to provide","type":"string","pattern":"[a-zA-Z0-9\\-_\\. ]+","minLength":1,"maxLength":30,"example":"merchant_order_123"},"amount":{"description":"Amount of the transaction","type":"number","format":"float","minimum":0.01,"example":100},"return_url":{"description":"Redirect URL used when payment is done","type":"string","pattern":"URI pattern","minLength":1,"maxLength":120,"example":"http://www.merchant-example.org/return"},"cancel_url":{"description":"Cancel URL used when user is canceling a payment","type":"string","pattern":"URI pattern","minLength":1,"maxLength":120,"example":"http://www.merchant-example.org/cancel"},"notif_url":{"description":"Notification URL used to notify the partner when payment is confirmed","type":"string","pattern":"URI pattern","minLength":1,"maxLength":120,"example":"http://www.merchant-example.org/notif"},"lang":{"description":"Language of web pages and sms (ISO 639-1)","type":"string","enum":["fr","en"],"default":"fr"},"reference":{"description":"Reference of the merchant","type":"string","pattern":"[a-zA-Z0-9\\-_\\. ]+","minLength":1,"maxLength":30,"example":"ref-xyz.456"}}},"TransactionCreatedInfo":{"type":"object","description":"response's object of the initialized transaction\n","required":["status","message","pay_token","payment_url","notif_token"],"properties":{"status":{"description":"status is always 201","type":"integer","format":"int32","enum":[201]},"message":{"description":"message is always OK","type":"string","enum":["OK"]},"pay_token":{"description":"token generated for the transaction","type":"string","pattern":"[a-z0-9]{64}"},"payment_url":{"description":"URL of the payment page","type":"string","pattern":"URI pattern"},"notif_token":{"description":"token generated for the partner in order to check that a notification received by the partner is valid","type":"string","pattern":"[a-z0-9]{32}"}}},"GetTransactionStatusInfo":{"type":"object","description":"request's object to get the status transaction\n","required":["order_id","amount","pay_token"],"properties":{"order_id":{"description":"Order number to provide","type":"string","pattern":"[a-zA-Z0-9\\-_\\. ]+","minLength":1,"maxLength":30,"example":"ABC-37915"},"amount":{"description":"Amount of the transaction","type":"number","minLength":1,"maxLength":14,"minimum":0.01,"example":123456.78},"pay_token":{"description":"Token given in webpayment init response","type":"string","pattern":"[a-z0-9]{64}","minLength":64,"maxLength":64,"example":"f6e0a1e2ac41945a9aa7ff8a8aaa0cebc12a3bcc981a929ad5cf810a090e11ae"}}},"TransactionStatusInfo":{"type":"object","description":"response's object of the transaction status\n","required":["status","order_id","txnid"],"properties":{"status":{"description":"status of the transaction. The status 'NOT FOUND' is returned when all parameters of the request don't match an existing transaction.","type":"string","enum":["NOT FOUND","INITIATED","PENDING","EXPIRED","SUCCESS","FAILED"]},"order_id":{"description":"order number of the transaction","type":"string","minLength":1,"maxLength":30},"txnid":{"description":"transaction identifier. This field may be empty depending on the status.","type":"string","minLength":1,"maxLength":30}}}}}